@import '@fontsource/fira-mono';

:root {
	--font-body: 'Inter', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--color-bg-0: rgb(202, 216, 228);
	--color-bg-1: hsl(209, 36%, 86%);
	--color-bg-2: hsl(224, 44%, 95%);
	--color-theme-1: #ff3e00;
	--color-theme-2: #4075a6;
	--color-text: rgba(107, 114, 128, 1);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	color: var(--color-text);
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: var(--color-bg-1);
	background-size: 100vw 100vh;
	background-image: radial-gradient(
			50% 50% at 50% 50%,
			rgba(255, 255, 255, 0.75) 0%,
			rgba(255, 255, 255, 0) 100%
		),
		linear-gradient(180deg, var(--color-bg-0) 0%, var(--color-bg-1) 15%, var(--color-bg-2) 50%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
	margin: 0;
	text-transform: capitalize;
	color: rgba(0, 0, 0, 1);
}

p {
	font-weight: 500;
}

a {
	color: var(--color-theme-1);
	text-decoration: none;
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

main {
	flex: auto;
	display: flex;
	flex-direction: column;
	gap: 24px;
}

aside {
	flex: auto;
	display: flex;
	flex-direction: column;
	gap: 24px;
	min-width: 372px;
}

.section-heading {
	display: flex;
	align-items: center;
	margin-bottom: 12px;
	font-size: 16px;
	color: rgba(107, 114, 128, 1);
}

.section-heading p {
	width: 100%;
}

.info {
	font-family: var(--font-mono);
	font-size: 12px;
}

/* Button styles */
.button {
	display: inline-block;
	padding: 8px 16px;
	border-radius: 8px;
	border: solid 1px rgba(229, 231, 235, 1);
	color: rgba(107, 114, 128, 1);
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	transition: all 0.2s ease-in-out;
}

/* Container styles */

.container {
	background-color: white;
	border-radius: 12px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
	border: solid 1px rgba(229, 231, 235, 1);
}

.container-heading {
	background-color: rgba(248, 250, 252, 1);
	padding: 20px;
	border-radius: 12px 12px 0 0;
}
.container-content {
	height: 410px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 12px;
	align-items: center;
	justify-content: center;
}

/* Content Styles */

.content {
	display: flex;
	flex-direction: column;
	gap: 4px;
	margin-top: 12px;
}

.disabled-content {
	pointer-events: none;
	opacity: 0.5;
}

.person-images {
	width: 100%;
}

.person-image {
	display: flex;
	gap: 20px;
}

.person-image li {
	flex-grow: 1;
	flex-basis: 0;
	min-width: 0;
}

.no-content {
	display: flex;
	gap: 16px;
	flex-direction: column;
	text-align: center;
	font-size: 12px;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	font-family: var(--font-mono);
}

.content-info {
	display: flex;
	align-items: center;
	gap: 8px;
}
